<!DOCTYPE html>
<html>
<head>
  <title>Combat</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.1.0/build/cssreset/reset-min.css">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :all %>
  <%= javascript_include_tag 'combat/map' %>
  <%= javascript_include_tag 'combat/figures' %>
  <%= javascript_include_tag 'combat/pictures' %>
  <%= javascript_include_tag 'combat/walls' %>
  <%= javascript_include_tag 'combat/actions' %>
  <%= javascript_include_tag 'combat/actions/viewport' %>
  <%= javascript_include_tag 'combat/actions/select' %>
  <%= javascript_include_tag 'combat/actions/figures' %>
  <%= javascript_include_tag 'combat/actions/walls' %>
  <%= csrf_meta_tag %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
<%= yield %>
</body>
</html>
